<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>O que Fazemos - Lab Pai Dégua</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="public/css/bootstrap4.min.css" />
    <link rel="stylesheet" href="public/css/style.min.css" />
  </head>
  <body>
    <nav
      class="navbar navbar-fixed-top navbar-expand-lg navbar-secondary bg-gradient"
    >
      <div class="container">
        <!-- <a class="navbar-brand h1 mb-0" href="#">Curso</a> -->
        <div class="icon-paidegua col-xs-5 col-md-1 align-top">
          <img
            src="public/img/logo-lab-paidegua.png"
            class="img-fluid d-block "
          />
        </div>

        <!-- <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSite"
        >
          <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSite">
          <a class="nav-link font-weight-bold text-dark" href="#">
            Laboratório de Inovação - Labs PaiDégua
          </a>
          <!-- <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Serviços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Depoimentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contatos</a>
            </li>
          </ul> -->

          <!-- <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                id="navDrop"
                href="#"
              >
                Social
              </a>
              <div class="dropdown-menu"></div>
            </li>
          </ul> -->                                        
          <!-- <div class="icon-paidegua">                                                                                         
            <img
              src="public/img/logo-lab-paidegua.png"
              class="img-fluid d-block"
            />
          </div> -->
        </div>
      </div>
    </nav>

    <div id="carouselSite" class="carousel slide" data-ride="carousel">

      <!-- <ol class="carousel-indicators">
        <li data-target="#carsouselSite" data-slide-to="0" class="active"></li>
        <li data-target="#carsouselSite" data-slide-to="1"></li>
        <li data-target="#carsouselSite" data-slide-to="2"></li>
        <li data-target="#carsouselSite" data-slide-to="3"></li>
      </ol> -->

      <div class="carousel-inner">
        <div class="carousel-item col-xs-6 active">
          <img src="public/img/fundo-index.jpg" class="img-fluid d-block"/>
          <div class="carousel-caption d-none d-md-block">
            <h2 class="ml-10 my-10">Experimentação.
              Criatividade.
              Disrupção.
              Transformação.</h2>
            <p class="lead">Desafiando o presente para construir
              o futuro do Judiciário Paraense.</p>
          </div>
        </div>
      </div>

      <!-- <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only">Proximo</span>
      </a> -->
    </div> 
    <!-- carousel

    <div class="container">
       aula-5 - scroollspy-->
      <div class="row">
        <!-- row boas vindas -->
        <!-- <div class="col-12 text-center my-5">
          <h1 class="display-4">Quem somos?</h1>
          <p>
            Pai D’égua é o Laboratório de Inovação do Tribunal 
de Justiça do Estado do Pará, instituído nos termos 
da Resolução nº 395 do Conselho Nacional de Justiça.
          </p>
        </div> -->
      </div>
      <!-- /row boas vindas -->


        <!-- row scroollspy -->
        <div class="row mb-5">
        <div class="col-sm-6 col-md-4 mb-3">
          <!-- col-4 scroollspy -->
          <!-- <nav id="navbarVertical" class="navbar navbar-light bg-light">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ml-3 my-2" href="#item1">Charles Menezes Barros</a>
              <a class="nav-link my-2  ml-3" href="#item1">Kátia Parente Sena</a>
              <a class="nav-link my-2  ml-3" href="#item1">Geraldo Neves Leite</a>
              <a class="nav-link my-2  ml-3" href="#item1">João Valério de Moura Junior</a>
              <a class="nav-link my-2  ml-3" href="#item1">Marco Tulio Sampaio de Melo</a>
              <a class="nav-link my-2  ml-3" href="#item1">Ricardo Souza da Paixão</a>
              <a class="nav-link my-2  ml-3" href="#item1"> Antônio Carlos Sampaio Martins de Barros Júnior</a>
              <a class="nav-link my-2  ml-3" href="#item1">Luciana Sá Fernandes</a>
              <a class="nav-link my-2  ml-3" href="#item1">Ewerton Almeida Silva</a> -->
              <!-- <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3" href="#item1-1">Kátia Parente Sena</a>
                <a class="nav-link ml-3" href="#item1-2">Geraldo Neves Leite</a>
              </nav>
              <a class="nav-link my-2" href="#item2">João Valério de Moura Junior</a>
              <a class="nav-link my-2" href="#item3">Marco Tulio Sampaio de Melo</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3" href="#item3-1">Sed congue</a>
                <a class="nav-link ml-3" href="#item3-2">Nullam lacinia</a>
              </nav> -->
            </nav>
          </nav>
        </div>
        <!-- /col-01 scroollspy -->

        <!-- <div class="col-sm-6 col-md-8 mb-3"> -->
          <!-- col-8 scroollspy -->
          <!-- <div
            data-spy="scroll"
            data-target="#navbarVertical"
            data-offset="0"
            class="scrollspySite"
          >
            <h4 id="item1">Mauris cursus urna sit amet lacus placerat</h4>
            <p>
              Mauris cursus urna sit amet lacus placerat, at efficitur eros
              accumsan. Sed congue sodales orci, et vulputate nunc. Sed lobortis
              porttitor felis eu ultrices. Nullam lacinia malesuada elit at
              faucibus. Aenean ut tristique nunc, eu eleifend leo.
            </p>

            <h5 id="item1-1">Mauris cursus urna sit amet lacus placerat</h5>
            <p>
              Mauris cursus urna sit amet lacus placerat, at efficitur eros
              accumsan. Sed congue sodales orci, et vulputate nunc. Sed lobortis
              porttitor felis eu ultrices. Nullam lacinia malesuada elit at
              faucibus. Aenean ut tristique nunc, eu eleifend leo.
            </p>

            <h5 id="item1-2">Mauris cursus urna sit amet lacus placerat</h5>
            <p>
              Mauris cursus urna sit amet lacus placerat, at efficitur eros
              accumsan. Sed congue sodales orci, et vulputate nunc. Sed lobortis
              porttitor felis eu ultrices. Nullam lacinia malesuada elit at
              faucibus. Aenean ut tristique nunc, eu eleifend leo.
            </p>

            <h4 id="item2">Mauris cursus urna sit amet lacus placerat</h4>
            <p>
              Mauris cursus urna sit amet lacus placerat, at efficitur eros
              accumsan. Sed congue sodales orci, et vulputate nunc. Sed lobortis
              porttitor felis eu ultrices. Nullam lacinia malesuada elit at
              faucibus. Aenean ut tristique nunc, eu eleifend leo.
            </p>

            <h4 id="item3">Mauris cursus urna sit amet lacus placerat</h4>
            <p>
              Mauris cursus urna sit amet lacus placerat, at efficitur eros
              accumsan. Sed congue sodales orci, et vulputate nunc. Sed lobortis
              porttitor felis eu ultrices. Nullam lacinia malesuada elit at
              faucibus. Aenean ut tristique nunc, eu eleifend leo.
            </p>

            <h5 id="item3-1">Mauris cursus urna sit amet lacus placerat</h5>
            <p>
              Mauris cursus urna sit amet lacus placerat, at efficitur eros
              accumsan. Sed congue sodales orci, et vulputate nunc. Sed lobortis
              porttitor felis eu ultrices. Nullam lacinia malesuada elit at
              faucibus. Aenean ut tristique nunc, eu eleifend leo.
            </p>

            <h5 id="item3-2">Mauris cursus urna sit amet lacus placerat</h5>
            <p>
              Mauris cursus urna sit amet lacus placerat, at efficitur eros
              accumsan. Sed congue sodales orci, et vulputate nunc. Sed lobortis
              porttitor felis eu ultrices. Nullam lacinia malesuada elit at
              faucibus. Aenean ut tristique nunc, eu eleifend leo.
            </p>
          </div>
        </div> -->
        <!-- /col-9 scroollspy -->
      </div>
      <!-- /row scroollspy -->
      <!-- /aula-5 - scroollspy -->

      <!-- aula-6 - cards -->
      <div class="row justify-content-sm-center">
        <!-- row cards -->
        <!-- <div class="col-12 text-center my-2 ">
          <h1 class="display-4">Nosso espaço</h1>
          <a>O Pai D’égua é um espaço em que as proposições, análises de projetos e reuniões da equipe são 
            realizadas virtualmente através de ferramentas licenciadas da Microsoft (Forms, Whiteboard, Teams,
             etc.) e, presencialmente, na sala de reuniões disponibilizada pela Escola Judicial do Estado do 
             Pará, situada na Trav. Quintino Bocaiúva, 1404 - Nazaré. 66035-190 Belém – Pará.</a>
        </div> -->
        <div class="col-sm-6 col-md-4 mb-5">

          <!-- col-sm-4 cards -->
          <div class="card">
            <img class="card-img-top" src="public/img/tjpa-img.png" />
            <div class="card-body">
              <h4 class="card-title text-center">Quem somos?</h4>
              <h6 class="card-subtitle mb-4 text-muted text-center">
                Apaixonados por inovação, contamos com colaboradores de diversos setores do TJPA.
              </h6>
              <div class="text-center">
              <button type="button" class="btn btn-primary">Acesse</button>
              </div>
              <!-- <div class="row">
                <p class="card-text col-12 text-truncate">
                  Phasellus facilisis tortor et est eleifend, non tempor ante
                  lacinia. Donec varius, nibh quis convallis condimentum, ipsum
                  leo gravida erat, non efficitur tortor massa suscipit turpis.
                  Nam eu facilisis massa. Quisque viverra arcu urna, vel
                  pulvinar ipsum molestie nec
                </p>
              </div> -->
            </div>
          </div>
        </div>
        <!-- /col-sm-4 cards -->

        <div class="col-sm-6 col-md-4 mb-5">
          <!-- col-sm-4 cards -->
          <div class="card">
            <img class="card-img-top" src="public/img/tjpa2.jpg" />
            <div class="card-body">
              <h4 class="card-title text-center">O que fazemos?</h4>
              <h6 class="card-subtitle mb-4 text-muted text-center">
                Descobrimos, criamos e divulgamos soluções inovadoras, colaborativas e multidisciplinares.
              </h6>

              <div class="text-center">
                <button type="button" class="btn btn-primary">Acesse</button>
                </div>
              <!-- <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                lobortis faucibus arcu non lobortis.
              </p> -->
            </div>
          </div>
        </div>
        <!-- /col-sm-4 cards -->

        <div class="col-sm-6 col-md-4 mb-5">
          <!-- col-sm-4 cards -->
          <div class="card">
            <img class="card-img-top lg-10" src="public/img/tjpa-img.png" />
            <div class="card-body">
              <h4 class="card-title text-center">Sobre o Lab Paidégua</h4>
              <h6 class="card-subtitle mb-4 text-muted text-center">
                Saiba mais sobre o laboratório e descubra os significados do nome e do logotipo
              </h6>

              <div class="text-center">
                <button type="button" class="btn btn-primary">Acesse</button>
                </div>
              <!-- <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                lobortis faucibus arcu non lobortis.
              </p> -->
            </div>
          </div>
        </div>
        <!-- /col-sm-4 cards -->
      </div>
      <!-- /row cards -->
      <!-- /aula-6 - cards -->

      <!-- aula-7- modal -->

      <div class="modal fade" id="siteModal" tabindex="-1" roles="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Fusce ac cursus nisi</h5>
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-6">
                    <h5>Aliquam cursus</h5>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Aliquam cursus aliquam nulla eu volutpat. Nam id sagittis
                      lectus, eu pretium lacus. Cras leo lacus, posuere quis
                      eros ut, bibendum mollis erat. Etiam condimentum egestas
                      sagittis. Praesent placerat orci elementum, pharetra lacus
                      et, rhoncus felis. Maecenas eu finibus turpis, nec laoreet
                      lacus. Morbi ipsum est, volutpat at vehicula ac, sodales
                      pharetra felis. Cras sed sagittis enim. Maecenas ex justo,
                      iaculis ut aliquam sit amet, venenatis ut libero. Proin
                      dictum, nibh a viverra elementum, velit mauris suscipit
                      mauris, at bibendum diam ligula nec lorem. Quisque
                      scelerisque fermentum imperdiet. Cras egestas faucibus
                      ligula ut tempus. Vestibulum et volutpat tellus. Etiam
                      lobortis finibus arcu eget congue. Nunc venenatis justo
                      justo, eget convallis sapien viverra scelerisque.
                      Phasellus eget justo ac ipsum auctor iaculis.
                    </p>
                  </div>
                  <div class="col-6">
                    <h5>Pellentesque habitant</h5>
                    <p>
                      Cras sed sapien vitae ex bibendum aliquam eu in enim.
                      Pellentesque habitant morbi tristique senectus et netus et
                      malesuada fames ac turpis egestas. Nulla consectetur
                      dignissim elit, condimentum iaculis quam efficitur et.
                      Integer nibh erat, volutpat at dictum facilisis, finibus
                      quis nulla. Sed imperdiet, libero ut interdum placerat,
                      enim nisl molestie lorem, et dictum magna ante ut dolor.
                      Maecenas molestie varius eros a condimentum. Proin
                      condimentum justo ut dui hendrerit, ut imperdiet nunc
                      finibus. Aliquam erat volutpat. Curabitur dignissim velit
                      quam, vel fermentum diam sollicitudin a. Suspendisse lorem
                      tortor, pulvinar gravida rutrum sit amet, lobortis
                      porttitor justo. Praesent porta mattis mi, non sagittis
                      nibh ultrices et. Maecenas volutpat nibh quam, non
                      lobortis enim pharetra vitae. Praesent vitae turpis ac
                      velit tempus egestas. Nulla volutpat sapien lectus, et
                      facilisis neque placerat at. Sed id ligula mi.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" data-dismiss="modal">Donec</button>
            </div>
          </div>
        </div>
      </div>

      <!-- /aula-7- modal -->
    </div>
    <!-- container -->

    <!-- aula-8- jumbotron -->
    <div class="jumbotron jumbotrom-fluid">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="display-4">Participe!</h1>
            <p class="lead">
              SEJA NOSSO COLABORADOR(A) E/OU PARCEIRO(A)
            </p>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ul
              class="nav nav-pills justify-content-center mb-3"
              id="pillsNav"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="nav-pills-01"
                  data-toggle="pill"
                  href="#nav-item-01"
                  >Conheça</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="nav-pills-02"
                  data-toggle="pill"
                  href="#nav-item-02"
                  >Proponente</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="nav-pills-03"
                  data-toggle="pill"
                  href="#nav-item-03"
                  >Parceiro</a
                >
              </li>
            </ul>
            <div class="tab-content" id="nav-pills-content">
              <div
                class="tab-pane fade show active"
                id="nav-item-01"
                role="tabpanel"
              >
                <div class="row">
                  <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                      <img
                      class="embed-responsive-item"
                      src="./public/img/tjpa1.jpg"
                    />
                    </div>
                  </div>
                  <div class="col-sm-6 text-justify">
                    <p>
                      Acreditamos que todo magistrado e servidor do PJPA, distribuídos neste extenso e 
                      capilarizado estado do Pará, traz consigo um enorme potencial inovador que deve ser 
                      partilhado com os demais. 
                    </p> 
                    <p>
                      Cada um de nós pode participar deste processo de transformação 
                      inovadora basicamente de duas maneiras: (1) informando problemas e/ou propondo ideias 
                      para solucioná-los (proponente Pai D’égua); ou (2) participando da análise dos projetos 
                      com seus conhecimentos e habilidades particulares (parceiro(a) Pai D’égua).
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-item-02" role="tabpanel">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                      <img
                      class="embed-responsive-item"
                      src="./public/img/tjpa1.jpg"
                    />
                    </div>
                  </div>
                  <div class="col-sm-6 text-justify">
                    <p>
                      Você pode nos relatar uma situação-problema e/ou propor uma ideia inovadora para solucioná-lo. 
                      Também é possível nos relatar uma boa prática implantada para fins de aprimoramento e aplicação 
                      nas demais unidades do PJPA. Tudo o que se relacione ao aperfeiçoamento da atividade jurisdicional 
                      ou administrativa do nosso tribunal pode ser informado.
                    </p>
                    <p>
                      Em princípio, a proposição está restrita ao público interno do PJPA (magistrados e servidores). 
                      A proposta será encaminhada através de formulário próprio através do Microsoft forms, que está 
                      disponível a todos(as) integrantes deste Poder Judiciário através de seu login e senha de rede. 
                      Você deve preenchê-lo descrevendo de forma clara e objetiva a situação e/ou solução, podendo anexar 
                      arquivos de áudio e vídeo. A ideia é que a proposição seja simples e informal, podendo se originar 
                      de uma mera gravação de voz descrevendo a situação e/ou solução.
                    </p>
                    <p>
                      Recebida a proposição, a equipe Pai D’égua a analisará o mais breve possível dentro de sua 
                      capacidade de atendimento. Serão priorizadas as propostas com potencial para atingir o maior 
                      número de operadores(as) do sistema judicial. As propostas que tenham maior viabilidade de se 
                      transformar em produto ou serviço inovadores darão origem a projetos a serem desenvolvidos no
                       Microsoft Whiteboard, sendo que o(a) proponente poderá ser convidado pela equipe para participar
                        dos trabalhos de análise e desenvolvimento.
                      </p>
                      <p>
                      Vamos lá! <a href="https://forms.office.com/pages/responsepage.aspx?id=HtFvX_XNpUWTOLUB3O_qtQYtK1sQRXhHiMdmOCbxZpBURE5LU01KN0JKMVlZQVRRME5YOFZIWFgwSS4u" 
                      style="text-decoration: none;" target="_blank">Clique aqui</a> para acessar o formulário de envio da situação-problema e/ou sua solução.”
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-item-03" role="tabpanel">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                      <img
                        class="embed-responsive-item"
                        src="./public/img/tjpa1.jpg"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6 text-justify">
                    <p>
                      Estamos construindo uma rede de colaboradores mais ampla possível composta por pessoas que desejam 
                      empreender, experimentar, inovar, discutir, enfim, ajudar na construção e transformação de um Poder 
                      Judiciário cada vez melhor.
                    </p>
                    <p>
                      Em que você se acha expert? Quais habilidades suas você acha que estão acima da média? Que atividades ou matérias 
                      você gosta de se dedicar? Em que assuntos você se considera um especialista? Qual área você pode ajudar o Lab Pai D’égua? 
                      Temos certeza de que cada um de vocês tem alguma coisa muito boa para nos ajudar.
                    </p>
                    <p>
                      Se você é um eterno insatisfeito com as práticas e serviços executados pelo judiciário, sempre querendo aperfeiçoar 
                      a prestação judicial, venha ser um parceiro Pai D’égua, dê-nos sua mão para caminharmos juntos em prol de uma justiça 
                      inovadora e de qualidade. Para tanto, basta preencher o formulário abaixo informando seus conhecimentos, habilidades e 
                      experiência excepcionais e nós entraremos em contato assim que algum de nossos projetos esteja relacionado com suas 
                      competências. A participação é voluntária, de acordo com sua disponibilidade. Os projetos são desenvolvidos geralmente 
                      em ambiente virtual de aprendizagem e debate coparticipativo, disponível 24 h por dia, com abordagem baseada no Design 
                      Thinking.
                    </p>
                    <p>
                      Vamos lá! <a href="https://forms.office.com/pages/responsepage.aspx?id=HtFvX_XNpUWTOLUB3O_qtQYtK1sQRXhHiMdmOCbxZpBUNzhHVFlSODNFNjZMQ1c3VkROV05ER1BCSS4u" 
                      style="text-decoration: none;" target="_blank">Clique aqui</a> para acessar o formulário de cadastro de parceiros do Lab Pai D'égua.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div className="bg-dark text-white">
      <div className="container py-4">
          <div className="row">
              <div className="col-md-3 col-6">
                  <h4 className="h6">PÁGINAS</h4>
                  <ul className="list-unstyled">
                  <li><a href="/planos" variant="link" className="text-decoration-none">Planos</a></li>
                  <li><a href="/contato" variant="link" className="text-decoration-none">Contato</a></li>
                  <li><a href="/cadastro" variant="link" className="text-decoration-none">Inscreva-se</a></li>
                  </ul>
              </div>
              <div className="col-md-3 col-6">
                  <h4 className="h6">LOCAIS</h4>
                  <ul className="list-unstyled">
                  <li><a href="/locais/california" variant="link" className="text-decoration-none">Califórnia</a></li>
                  <li><a href="/locais/paris" variant="link" className="text-decoration-none">Paris</a></li>
                  <li><a href="/locais/dublin" variant="link" className="text-decoration-none">Dublin</a></li>
                  </ul>
              </div>
              <div className="col-md-4">
                  <h4 className="h6">DADOS DE CONTATO</h4>
                  <ul className="list-unstyled text-secondary">
                      <li>caravan@caravan.com.br</li>
                      <li>(21) 99235-1001</li>
                      <li>De Seg. à Sex. das 8h às 18h</li>
                  </ul>
              </div>
              <div class="col-md-2">
              <h4 className="h6 text-center">REDES SOCIAIS</h4>
              <div className="d-grid gap-2">
              <Button variant="outline-secondary" href="http://www.facebook.com" target="_blank" size="sm">
                  Facebook
              </Button>
              <Button variant="outline-secondary" href="http://www.twitter.com" target="_blank" size="sm">
                  Twitter
              </Button>
              <Button variant="outline-secondary" href="http://www.youtube.com" target="_blank" size="sm">
                  YouTube
              </Button>
              </div>
              </div>
          </div>
      </div>
      <div className="bg-primary text-center py-3">
          <p className="mb-0">TJPA © 2023. Todos os direitos reservados. <a href="#" rel="noreferrer" target="_blank"></a></p>
      </div>
      </div> -->
    <!-- /aula-8- jumbotron -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
